.headerContent {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: stretch;
  margin-right: 0.75rem;
}

@media (--d) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: none;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
