.header {
  display: flex;
  background-color: var(--c-white);
  transition: all 0.4s ease;
}

.headerContent {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: stretch;
  margin-right: 0.75rem;
}

@media (--d) {
  .header {
    justify-content: space-between;
    height: var(--header-height);
    box-shadow: none;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo {
      img {
        transition: all 0.3s linear;
        height: 85px;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;

  .logo {
    img {
      height: 40px;
    }
  }
}

.topbar {
  display: flex;
  align-items: stretch;
  padding: 0;
}

.topbarItem {
  display: flex;
  align-items: center;
}
