.header {
  display: flex;
  background-color: var(--c-white);
  transition: all 0.4s ease;
}

.headerContent {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: stretch;
  margin-right: 0.75rem;
}

@media (--d) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    box-shadow: none;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo {
      width: 170px;

      img {
        transition: all 0.1s ease;
        height: 50px;
      }
    }
  }
}

.topbar {
  display: flex;
  align-items: stretch;
  padding: 0;
}

.topbarItem {
  display: flex;
  align-items: center;
}
