.vision {
  margin: 20px auto 50px;

  @media (--tm) {
    margin: 0 auto 20px;
  }

  p {
    --min-fs: 0.75;
    --max-fs: 1;

    padding: 10px 0;
    line-height: 1.2rem;
  }
}

.info {
  padding: 30px;
  margin: 40px -10px;
  background: var(--c-gray-100);
  border-radius: 20px;
  color: var(--c-text-color-50);
  font-weight: 600;
  text-align: center;

  @media (--m) {
    padding: 15px 25px;
    margin: 0 -10px 30px;
    background: var(--c-gray-100);
    border-radius: 0;
  }
}

.vision-slider {
  --height: 180px;

  @media (--t) {
    --height: 200px;
  }

  @media (--m) {
    --height: 250px;
  }

  width: 100%;
  height: var(--height);
  overflow: hidden;

  .carousel-cell {
    width: 100%;
    height: var(--height);

    .inner {
      position: relative;
      height: 100%;
      color: var(--c-text-color-50);
      padding: 0 10px;
      text-align: center;
      font-weight: 500;

      &.centered {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
      }

      h2 {
        color: var(--c-gray-800);
        text-align: center;
        margin-bottom: 15px;
      }

      h3 {
        --min-fs: 1.4 * 0.75;
        --max-fs: 1.47;

        color: var(--c-primary);
        margin-bottom: 10px;
      }

      h2,
      h3 {
        font-weight: 600;
      }

      h3,
      span {
        line-height: 1.5em;
      }

      span + h3 {
        margin-top: 15px;
      }
    }
  }

  :global {
    .flickity-page-dots {
      bottom: 0;

      .dot {
        opacity: 1;
        background: rgba(69, 69, 69, 0.25);
        border: 0 solid rgba(69, 69, 69, 0.25);
        transition: all 300ms ease;

        &.is-selected {
          background: #636363;
          border: 0 solid #636363;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
