.block {
  background: url("/assets/customer-service.jpg");
  background-position: center;
  background-size: cover;

  .content {
    max-width: 450px;
    padding: 40px 10px;
    font-weight: 500;

    .title {
      color: var(--c-primary);
    }
  }
}
