.block {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, var(--c-primary) 80%, rgba(255, 255, 255, 0) 80%), #fff;
  padding: 20px;
  margin-top: 40px;

  @media (--tm) {
    background: var(--c-primary);
    flex-flow: row wrap-reverse;
    justify-content: center;
  }

  .content {
    margin-right: 10px;
    padding: 15px 0;
    color: var(--c-white);

    @media (--tm) {
      margin: 0 5px;
    }

    .title {
      font-weight: 600;
    }
  }

  .img {
    display: flex;
    flex-shrink: 0;
    position: relative;
    align-items: center;

    img {
      width: 100%;
      max-width: 300px;

      @media (--tm) {
        width: 90%;

        /* max-width: 400px; */
        margin: 0 auto;
      }
    }
  }
}
