.dropdown {
  position: relative;
  display: flex;
  align-items: center;

  .btnDropdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: calc(1.5em + 1.65rem + 2px);
    width: calc(1.5em + 1.65rem + 2px);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: #f3f6f9;
      border-color: transparent;
      border-radius: 0.28rem;
    }

    svg {
      height: 20px;
      width: 20px;
      border-radius: 0.28rem;
      vertical-align: middle;
      border-style: none;
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 98;
    display: none;
    min-width: 10rem;
    font-size: 1rem;
    color: #3f4254;
    text-align: left;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0.42rem;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
  }

  .active {
    display: block;
    transform: translateY(0);
    top: 65px;
  }

  .dropdownMenuRight {
    right: 0;
    left: auto;
  }
}

.dropdownMenuAnim {
  animation: animation-dropdown-menu-fade-in 0.3s ease 1, animation-dropdown-menu-move-up 0.3s ease-out 1;
}

.navi {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;

  .naviItem {
    padding: 0;
    display: block;
    list-style: none;

    .naviLink {
      display: flex;
      align-items: center;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      transition: all 0.15s ease;
      color: #3f4254;

      .dropdownItemSymbol {
        display: flex;
        flex-shrink: 0;
        position: relative;
        margin-right: 0.75rem;

        svg {
          height: 20px;
          width: 20px;
          border-radius: 0.28rem;
        }
      }

      .dropdownItemText {
        color: #3f4254;
        transition: all 0.15s ease;
        font-size: 1rem;
        flex-grow: 1;
      }

      &:hover {
        cursor: pointer;
        background-color: #f3f6f9;
        transition: all 0.15s ease;

        .dropdownItemText {
          color: var(--c-theme);
        }
      }
    }
  }
}

@keyframes animation-dropdown-menu-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation-dropdown-menu-move-down {
  from {
    margin-top: 10px;
  }

  to {
    margin-top: 0;
  }
}
