.block {
  --text-padding: 10px;
  --img-padding: 20px;
  --img-width: 270px;

  margin-top: 40px;
  margin-bottom: 50px;
  display: grid;
  grid-gap: 20px;

  @media (--d) {
    grid-template-columns: calc(2 * var(--img-width)) 1fr;
  }
}

.imgBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.text {
  font-weight: 500;
  color: var(--c-text-color-50);

  .title {
    color: var(--c-primary);
  }
}
