.socialMedias {
  margin-top: 90px;
  list-style: none;
  margin-left: 5px;
  display: flex;

  li {
    padding: 5px;

    .social-icon {
      width: 30px;
      height: 30px;
    }
  }

  li + li {
    margin-left: 5px;
  }

  a {
    color: var(--c-white);
    transition: color var(--fade)  ease;

    &:hover {
      cursor: pointer;
      color: var(--c-gray-500);
    }
  }
}

.contact-apply-form {
  text-decoration: underline;
  padding: 10px 0;
}

.logo {
  display: block;
  height: 120px;

  img {
    display: inline-block;
    height: 100%;
  }
}

.bottom {
  background-color: var(--c-primary-300);
  display: flex;
  justify-content: stretch;
  color: var(--c-white);

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .bottom-text,
    .bottom-text a {
      --min-fs: 0.75;
      --max-fs: 0.85;

      font-weight: 600;
      color: var(--c-gray-300);
      text-align: center;
    }

    .bottom-text a {
      text-decoration: underline;
    }
  }
}

.footer {
  padding: 20px 0;
  background-color: var(--c-primary-500);
  color: var(--c-white);

  .body {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 0 60px;
    justify-content: space-between;

    @media (--m) {
      padding-right: 20px;
      padding-left: 20px;
    }

    .left {
      display: flex;
      flex-direction: column;

      .infos {
        display: grid;
        grid-column-gap: 5rem;
        grid-row-gap: 1rem;
        margin-top: 50px;
        margin-left: 10px;
        font-weight: 600;

        @media (--m) {
          grid-template-columns: repeat(1, 1fr);
        }

        @media (--dt) {
          grid-template-columns: repeat(2, 1fr);
        }

        .link {
          display: flex;
          flex-flow: column nowrap;
        }

        .info {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          svg {
            fill: var(--c-white);
            height: 1.3rem;
            width: 1.3rem;
            margin-right: 12px;
          }

          a {
            text-decoration: underline;
            padding: 10px 0;
          }

          span,
          a {
            --min-fs: 0.85;
            --max-fs: 1.05;

            color: var(--c-white);

            &:hover {
              color: var(--c-white);
            }
          }
        }
      }
    }
  }
}
