.logo {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;

  img {
    vertical-align: middle;
    border-style: none;
    display: inline-block;
  }
}
