.section {
  b {
    font-weight: 600;
  }

  &:first-child {
    margin-top: 80px;

    @media (--tm) {
      & {
        margin-top: 66px;
      }
    }
  }
}

.apply-form {
  :global {
    .loader {
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgb(255 255 255 / 0.5);
      z-index: 999;
    }
  }
}
