table.esd-header-popover.es-header(cellspacing="0" cellpadding="0" align="center")
  tbody
    tr
      td.esd-stripe.esd-synchronizable-module(align="center" style="background-color: #f7f7f7; background-image: url(https://kvlya.stripocdn.email/content/guids/CABINET_fd50f3898fb159718a400b465e478f60/images/37321583394538200.png); background-repeat: repeat; background-position: center top;" bgcolor="#F7F7F7" background="https://kvlya.stripocdn.email/content/guids/CABINET_fd50f3898fb159718a400b465e478f60/images/37321583394538200.png" esd-custom-block-id="195910")
        table.es-header-body(width="600" cellspacing="0" cellpadding="0" align="center" style="background-color: transparent;")
          tbody
            tr
              td.esd-structure.es-p10t.es-p10b.es-p20r.es-p20l(align="left" bgcolor="#F7F7F7" style="background-color: #f7f7f7;")
                table(cellspacing="0" cellpadding="0" width="100%")
                  tbody
                    tr
                      td.es-m-p0r.esd-container-frame(width="560" valign="top" align="center")
                        table(width="100%" cellspacing="0" cellpadding="0")
                          tbody
                            tr
                              td.esd-block-image(align="center" style="font-size: 0px;")
                                a(target="_blank" href="https://evb.com.tr")
                                  img(src="https://evb.vercel.app/assets/logo.png" alt="evb enerji ve bilişim" style="display: block;" width="156" title="evb enerji ve bilişim")